<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>cron-as-a-service</title>
    <link rel="stylesheet" href="/web/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/web/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
</head>

<body>
    <div class="container" style="padding:0px;">
        <div class="row">
            <img src="/web/images/cron_logo.png" />
        </div>
        <section>
            <%- body %>
        </section>
    </div>
    <script>
    </script>
</body>

</html>
